<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="font-family:'b yekan';">درباره ما</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        
        <p>کلان موضوع سیمرغ دانش آموزان به تحقیق درباره موضوعات مختلف می‌پردازند و در نهایت به نتیجه ای می‌رسند. در کلان موضوع کامپیوتر داشن آموزان برنامه نویسی می‌کنند و در کلان موضوع سیمرغ داشن آموزان با استفادع از ریاضیات پروژه خود را انجام می‌دهند.</p>
      </div>
      <div class="col-lg-4">
        <p>فانوس یک نمایشگاه دانش آموزی است که دانش آموزان دبیرستان علامه حلی 2 دوره اول پروژه های دانش آموزی رو می‌سازند و به طور کلی این پروژه ها در 2 کلان موضوع قرار دارد:کار و تجربه ، سیمرغ ، کامپیوتر ، و ریاضی. در کلان موضوع کار و تجربه دانش آموزان یکسری پروژه هایی رو در زمینه های زیست شناسی، شیمی، فیزیک، و فنی و مهندسی هست که در نهایت به ساخت محصولی منجر می‌شود.</p>
      </div>
    </div>
  </div>
</section>
