<!-- Countdown -->

<section id="countdown">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
        <script src="https://cdn.logwork.com/widget/countdown.js"></script>
        <a href="https://logwork.com/countdown-timer" class="countdown-timer" data-style="circles" data-timezone="Asia/Tehran" data-date="2025-04-30 08:00" data-background="#0084ff">Fanous</a>
        <!-- {% include header.html %} -->
            </div>  
        </div>
    </div>
</section>