<section id="kheyrie">
<div>
    <div style="width: 20%; margin: 0 auto;">
        <img class="img-responsive" src="img/portfolio/kheyrie.webp" alt="profile-pic" style="width: 100%; height: auto" />
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="width: 50%; margin: 0 auto;">
      <div class="carousel-item active">
        <img src="img/kh1.jpg" class="d-block w-100" style="width: 100%; height: auto" alt="...">
      </div>

    
</div>  
</div>
</section>