<section id="kheyrie" class="text-center py-4">
  <div>
    <div style="width: 20%; margin: 0 auto;">
      <img class="img-fluid" src="img/portfolio/kheyrie.webp" alt="profile-pic" />
    </div>

    <div id="myCarousel" class="carousel slide mx-auto mt-4" data-bs-ride="carousel" data-bs-interval="2000" style="width:60%;">
      
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      
      <!-- Inner carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/portfolio/cake.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/portfolio/cabin.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/portfolio/game.png" class="d-block w-100" alt="...">
        </div>
      </div>
      
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">past</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
      </button>

    </div>
  </div>
</section>
