

    <div class="list-container" style="margin-top:7rem">
        <div class="list-item">
            <div class="description">
                <div class="title">چرت و پرت</div>
                <div class="description-text">این توضیحات است.</div>
            </div>
            <div class="video">
                <video controls>
                    <source src="video1.mp4" type="video/mp4">

                </video>
            </div>
        </div>
        <div class="list-container">
        <div class="list-item">
            <div class="description">
                <div class="title">چرت و پرت</div>
                <div class="description-text">این توضیحات است.</div>
            </div>
            <div class="video">
                <video controls>
                    <source src="video1.mp4" type="video/mp4">

                </video>
            </div>
        </div>
        <div class="list-container">
        <div class="list-item">
            <div class="description">
                <div class="title">چرت و پرت</div>
                <div class="description-text">این توضیحات است.</div>
            </div>
            <div class="video">
                <video controls>
                    <source src="video1.mp4" type="video/mp4">

                </video>
            </div>
        </div>


        <!-- Add more list items here -->
    </div>
