<section id="videos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8"> <!-- Centers the video content -->
                <div id="85247494356">
                    <div id="71871687344"><script type="text/JavaScript" src="https://www.aparat.com/embed/xxr5h69?data[rnddiv]=71871687344&data[responsive]=yes"></script></div>
                </div>
                
            </div>
        </div>
        <div class="row justify-content-center mt-3"> <!-- Adds spacing and centers button -->
            <div class="col-auto">
                <a href="other_videos.html" class="btn btn-primary">بقیه ویدیوها</a>
            </div>
        </div>
    </div>
</section>
