<section id="videos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8"> <!-- Centers the video content -->
                <div id="85247494356">
                    <script type="text/JavaScript" src="<div id='65924971236'><script type='text/JavaScript' src='https://www.aparat.com/embed/s816qfv?data[rnddiv]=65924971236&data[responsive]=yes&titleShow=true&autoplay=true'></script></div>"></script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3"> <!-- Adds spacing and centers button -->
            <div class="col-auto">
                <a href="other-videos.html" class="btn btn-primary">بقیه ویدیوها</a>
            </div>
        </div>
    </div>
</section>
