<section id="videos">
    <div class="mx-auto text-center py-4" style="width: 60%; margin: 0 auto; ">
        <div class="mt-4 column">
        <div id="85247494356"><script type="text/JavaScript" src="https://www.aparat.com/embed/c606h0a?data[rnddiv]=85247494356&data[responsive]=yes"></script></div>
        <a href="other-videos" class="btn btn-primary position-absolute" style="right: 20%;z-index: 10; height:px; padding-top: 2px; padding-bottom: 2px;">
            بقیه ویدیوها
        </a>
        </div>

    </div>
</section>
